:root {
    /*variavel*/
    --lightgrey: #7c848b;
    --mediumgrey: #59616c;
    --darkblue: #1a212b;
    --verydarkblue: #15161e;
    --orange: #fc7613;
    --white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    /* box-sizing com o valor border-box faz com que o navegador 
    não calcule a dimensão de um elemento somando bordas e 
    margens com altura e largura */
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--verydarkblue);

}

.ocult {
    display: none;
}


/* tela principal */
.main {
    display: flex;
    width: 100vw;
    height: 100vh;
}

/*bloco princital ende tudo estara*/
.main_block {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 33.45rem;
    height: 33.7rem;
    background-color: var(--darkblue);
    border-radius: 3rem;
    padding: 2.5rem 3rem 2.5rem 2.5rem;
}

/*imagem da estrela*/
.circ {
    display: flex;
    width: 4rem;
    height: 4rem;
    background-color: var(--mediumgrey);
    border-radius: 100%;
}

.imag {
    margin: auto;
    width: 1.2rem;
    height: 1.2rem;
    background-image: url("../img/icon-star.svg");
    background-size: cover;
}

/*texto*/
.titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.18rem;
    padding-top: 2.38rem;    
    color: var(--white);
}

.texto {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    padding-top: 1.15rem;
    line-height: 1.9rem;
    color: var(--white);
}

/*tabela de avaliação*/
.rad {
    padding-top: 2.3rem;
    
    width: 100%;
}

.rad tr {
    display: flex;
    justify-content: space-between;
}

.rad tr td{
    display: flex;
}

.rad tr td p {
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-25%);
}

.rad .radcir {
    background-color: var(--lightgrey);
    color: var(--white);
}

.btn_av {
    width: 4rem;
    height: 4rem;
    font-size: 1.4rem;
    font-weight: 700;
    background: var(--orange);
    color: var(--white);
    border-radius: 50%;    
    cursor: pointer;
}

/*BOTÃO SUBMIT PRONTO*/
.btn_select {
    width: 100%;
    height: 4rem;
    margin-top: 2rem;
    border: none;
    font-size: 1.35rem;
    background: var(--orange);
    color: var(--white);
    cursor: pointer;
    border-radius: 2.5rem;
} 
.rad .btn_av:hover, .btn_select:hover {
    color: var(--orange);
    background: var(--white);
}
/* Area 2 */
.imag-fim {
    margin: auto;
    width: 46%;
    height:8.4rem;
    margin-top: 1.2rem;
    background-image: url("../img/illustration-thank-you.svg");
    background-size:cover;
}
/* .img-area {
    display: flex;
    width: 100%;
    height: 35rem;
    background-color: var(--verydarkblue);
} */

.notafim{
    margin: 3rem auto 0 auto;
    width: 55%;
    height: 2.3rem;
    text-align: center;
    background-color: var(--mediumgrey);
    color: var(--orange);
    border-radius: 3rem;

}
.notafim p{
    font-size: 1.2rem;
    padding: 0.5rem;
} 
.h1fim{
    color: var(--white);
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
    padding-top: 2.6rem;
}
.textfinal{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.25rem;
        padding-top: 1.15rem;
        line-height: 1.9rem;
        color: var(--white);
        text-align: center;
  
}

@media screen and (max-width: 600px){

    html {
        font-size: 50%;
    }

.main_block {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 33.45rem;
    height: 33.7rem;
    background-color: var(--darkblue);
    border-radius: 3rem;
    padding: 2.5rem 3rem 2.5rem 2.5rem;
}
/*    .container {
        display: flex;
        justify-content: center;
        background: var(--cream);
        max-width: auto;
        height: auto;
        padding: 10px;
        margin: auto;
    }
    .bloco{
        display: grid;
        grid-template-columns: auto;
        margin: auto;
        border-radius: 10px;
    }
    .imag{
        max-width: 350px;
        height: 250px;
        background-image: url("../img/image-product-mobile.jpg");
        background-size:cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .descr{
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }*/
}
